.panel{clear:both;}
.accordion .accordion-header{
	display:none;
}
.datagrid-body .datagrid-cell, .datagrid-footer .datagrid-cell{
	font-size:12px;
	color:#545454;
}
.datagrid-header .datagrid-cell span{
   font-size:13px!important;
   font-weight:bold;
   color:#3c3c3c!important;	
}
.datagrid-header-row, .datagrid-row{
   border-color:#d9d9d9!important;
}
.datagrid-row td{
  border-right: 1px solid #d9d9d9!important;
  border-bottom: 1px solid #d9d9d9!important;
	}
.accordion{
	border-style:none!important;
	background: #f2f2f2;
}
.datagrid-header td{border-right: 1px solid #d9d9d9!important;}
.tabs li a.tabs-inner{
	color:#545454!important;
}
.tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner{
	border-color:#e3e3e3!important;
	border-bottom-color:#fff!important;
}
.tree-title{
   font-size:12px!important;	
}
.tree-title a{ color:#545454;font-size:12px;}
.tabs-title{
  font-size:14px!important;
}
.tabs{
   border-color:#d9d9d9!important;
   background:#f2f2f2;
   height:35px; 
}
.tabs li.tabs-selected a.tabs-inner{
   color:#399fc2!important;
   padding-top: 1px;
}
.tabs-header, .tabs-tool{
	background:none!important;
}
.datagrid .panel-body{
  border: 1px solid #d9d9d9!important;	
}
.tabs li{margin-top:8px}
.tabs li a.tabs-inner{	
   border-color:#f2f2f2!important;
   background:#f2f2f2;
}
.tabs-header-plain .tabs-scroller-left,.tabs-header-plain .tabs-scroller-right{height:34px!important;}
.tabs-scroller-left,.tabs-scroller-right{background-color:#fff;}

/*å¼¹çª—çš„css*/
.window, .window .window-body{
	border-color:#d9d9d9;
}
.window .window-header{
	  border-bottom: 1px solid #d9d9d9;
}
.panel-title{
	color: #399fc2;
}
.window{	
	background: linear-gradient(to bottom,#EFF5FF 0,#E0E0E0 100%);
}
/*å¯¼èˆª*/
.layout-split-west{
	border:none;
	border-right: 1px solid #d9d9d9;
	}
.panel-body{
	border:none;
}
.tree-node{
	height:22px;
}
.combo-arrow{
	background-color:#fff;
	outline:none;
}
.combo input{
	outline:none;
	background:none;
}
.easyr-fm span{
	height:26px!important;
	border-radius:5px;
}
.combo{
	border:1px solid #ccc;
	height:24px!important;
	}
.easyleftbox div{
	font-size:14px;
	margin:5px 0 5px 0;
	}
.datagrid-btable tr td div a{
	color:#22718b;
	}
.datagrid-body{
	overflow-y:auto;
	}
.esybtn p #ck{
	border:none;
	}
.layout-expand{
	background:#EAEAEA;
	}
#appReturnForm{
	margin:42px;
}
.datagrid-row-selected,.tree-node-selected{
	background:#ffffdd!important;
}
.menu_list{overflow-y:auto!important;}
/*¹ö¶¯Ìõ*/
.easyui-layout{overflow-y:auto!important;overflow-x:hidden!important;}
.tabs-header,.tabs-tool{background-color:none;}
.tabs-header,.tabs-panels{border-color:#d9d9d9!important;}
/*±í¸ñÅ¼±³¾°*/
.datagrid-row-alt{background:none!important;}
/* .panel-body{overflow-y:hidden;} */
.layout-body{overflow-y:auto;}
.bodyClsname{overflow:hidden;}
.tabs-panels{overflow-y:auto;_position:relative;}
.panel-header, .panel-body{border-color:#d9d9d9!important;}
.panel-header{background:#f2f2f2!important;border:none;}
.combo-panel{
	border:1px solid #d9d9d9;
	height:202px!important;
	overflow-y:auto;
}
.tabs-panels-noborder{*+position:relative;*+left:0;*+top:0;}